@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::selection{
    background-color: transparent;
}

body{
    background-color: #000;
}

.container{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    width: 350px;
    padding: 5px;
    box-shadow: 0 0 20px grey;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1rem;
}


button{
    height: 3.75rem;
    width: 3.75rem;
    background-color: rgb(19, 18, 19);
    box-shadow: -5px -3px 15px  rgba(105, 105, 105, 0.726);
    color: #fff;
    border-radius: 50%;
    border: none;
    margin: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 800;
}

button:active{
    transition: 0.2s;
    box-shadow: none;
}

input{
    padding: 2rem 5px;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(105, 105, 105, 0.219);
    border: none;
    outline: none;
    color: orangered;
    text-align: right;
    font-size: 2rem;
    margin: 5px;
}


input::placeholder{
    color: orangered;
}

.equalBtn{
    background-color: orangered;
    color: #000;
}


.operator{
    color: rgb(0, 174, 255);
}


.input-container {
    display: flex;
    align-items: center;
    position: relative;
}
  
.copy-icon {
    cursor: pointer;
    position: absolute;
    left: 20px;
}


.input-container span i{
    font-size: 1.2rem;
    color: #706f6f;
    cursor: pointer;
}


.popup {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 10vw;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
}
  
  .popup.show {
    visibility: visible;
    animation: fadeInOut 2s ease-in-out;
}
  
@keyframes fadeInOut {
    0%, 100% { opacity: 0; }
    10%, 90% { opacity: 1; }
}

